p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-align: center;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

.section {
    padding: 40px 0;
}

.list-section {
    background-color: rgba(19, 48, 109, 0.555);
}

.hero {
    min-height: 500px;
    background-color: rgba(56, 11, 97, 0.212);
    background-image: url(/images/renault.jpg);
    background-size: contain;
    background-position: 50% 50%;
}

.par-section {
    background-image: repeating-linear-gradient(45deg,
            blue,
            blue 20px,
            yellow 20px,
            red 20px,
            yellow 40px);
}

.sumb {
    background-color: aqua;
    width: 250px;
    height: 250px;
    margin-bottom: 140px;
    box-shadow: 10px 2px 15px 10px rgb(209, 48, 48), 15px 7px 15px 15px rgb(199, 76, 162);
    background-image: url(/images/18978974de41e684aa5958025cf75c21.jpg);
    /* background-size: contain; */
    background-position: -65% -85%;
    background-repeat: no-repeat;

}

/* .sumb-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.psev-link {
    display: flex;
    align-items: baseline;
    min-width: 25px;
    color: red;
    background-color: green;
    padding: 5px;
    border-radius: 20%;

}

.psev-link::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: blue;
    margin-right: 120px;
}

.link-psev {
    display: flex;
}

.radial {
    min-height: 200px;
    background-image: repeating-radial-gradient(circle at center,
            #09792b,
            #09792b 20px,
            #00b9ff 20px,
            #00b9ff 40px);
}

@keyframes treeAnimation {
    25% {
        transform: perspective(300px) rotateX(75deg)
    }

    50% {
        background-color: #09792b;
    }

    75% {
        transform: perspective(300px) rotateY(60deg);
    }

    100% {
        background-color: #00b9ff;
    }
}

.tree {
    fill: rgb(132, 0, 255);

}

.tree:hover {
    animation-name: treeAnimation;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
}

/* .top {
    fill: currentColor;
}

.bottom {
    fill: currentColor;
} */
.ua .bottom,
.ua .top {
    transition-property: fill;
    transition-duration: 2000ms;

}

.ua {
    transition: transform 3000ms cubic-bezier(.17, .67, .83, .28) 5000ms;
    /* transition-property: transform, box-shadow;
    transition-duration: 3000ms, 2000ms;
    transition-timing-function: cubic-bezier(.17, .67, .83, .28);
    transition-delay: 5000ms; */

}

.ua:hover {
    transform: rotate(360deg);
    box-shadow: 5px 5px 5px 5px grey;
}

.ua:hover .top {

    fill: black;
}

.ua:hover .bottom {
    fill: red;
}


.android {
    fill: blue;
    width: 100px;
    transform: rotate(-39deg);
}

.android:hover {
    fill: green;
    stroke: blue;
    stroke-width: 0.5px;
    transform: rotate(39deg);
}

.conection:hover {
    fill: rgba(255, 0, 0, 0.201);
    width: 150px;
    border-radius: 10px 20px 10px 20px;
}

.position-container {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: black;
    min-height: 100px;
    overflow: auto;
}

.box {
    width: 200px;
    height: 200px;
    z-index: 0;
}

.box1 {
    background-color: red;
    position: absolute;
    top: 30px;
    left: 10px;

}

.box2 {
    background-color: blue;
    position: absolute;
    top: 30px;
    left: 450px
}

.box3 {
    background-color: green;
    top: 30px;
    position: absolute;
    right: 10px;
}

.text {
    color: white;
    font-size: 30px;
    z-index: 21;
}

.header {
    margin: 0 auto;
    position: fixed;
    background-color: aquamarine;
    bottom: 0px;

}