.table{
    border-collapse: collapse;
    width: 100%;
}
.caption{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

tr , td, th{
    border: 2px solid green;
    text-align: center;
}